{% extends 'base.html' %}
{%load static%}

{% block conteudo%}

<h1 class="mt-5">ECO MANAGER</h1>
<hr>

<div class="container">
   <div class="row">
      <div class="col-md-5">
         <div class="titlepage">
            <h2>MISSÃO</h2>
            <p>Revitalizar o modo do consumo energético nas residências e empresas brasileiras através de soluções inovadoras, naturais e econômicas.</p>
         </div>
      </div>
      <div class="col-md-7">
         <div class="about_img">
            <figure><img src="{%static 'clientes/img/IPE1.jpeg'%}" style="max-width:95%;border:3px solid black;" ></figure>
         </div>
      </div>
   </div>
</div>

<hr>

<div class="container">
   <div class="row">
      <div class="col-md-5">
         <div class="titlepage">
            <h2>Valores</h2>
            <p>- Empatia;</p>
            <p>- Amor pela inovação;</p>
            <p>- Dedicação;</p>
            <p>- Honestidade;</p>
            <p>- Nacionalismo.</p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="about_img">
            <figure><img src="{%static 'clientes/img/IPE2.jpeg'%}" style="max-width:95%;border:3px solid black;" ></figure>
         </div>
      </div>
   </div>
</div>

<hr>

<div class="container">
   <div class="row">
      <div class="col-md-5">
         <div class="titlepage">
            <h2>EQUIPE</h2>
               <p> Somos um grupo de alunos do Instituto Militar de Engenharia compromissado com o desenvolvimento tecnológico em prol do crescimento do país e da modernização das forças armadas.</p>
         </div>
      </div>
      <div class="col-md-7">
         <div class="about_img">
            <figure><img src="{%static 'clientes/img/IPE3.jpeg'%}" style="max-width:80%;border:3px solid black;" ></figure>
         </div>
      </div>
   </div>
</div>

<hr>

<div class="container">
   <div class="row">
      <div class="col-md-5">
         <div class="titlepage">
            <h2>INTEGRANTES</h2>
               <p>Narciso - Scrum Master</p>
               <p>Levy - Product Manager</p>
               <p>Dalcin - Developer</p>
               <p>Campanha - Developer</p>
               <p>Antunes - Developer</p>
               <p>Vanzan - Developer</p>
               <p>Proença - Developer</p>
         </div>
      </div>
      <div class="col-md-7">
         <div class="about_img">
            <figure><img src="{%static 'clientes/img/Narciso.jpeg'%}" style="max-width:20%;border:2px solid black;" ></figure>
            <figure><img src="{%static 'clientes/img/Dalcin.jpg'%}" style="max-width:20%;border:2px solid black;" ><figure>
            <figure><img src="{%static 'clientes/img/Antunes.jpg'%}" style="max-width:25%;border:2px solid black;" ></figure>           
         </div>
      </div>
   </div>
</div>





{% endblock %}

