{% extends 'base.html'%}
{%load static%}

{% block conteudo%}

<h1 class="mt-5">ECO MANAGER</h1>
<hr>

<div class="container">
   <div class="row">
      <div class="col-md-5">
         <div class="titlepage">
            <h2>Controle energético</h2>
            <p>Através das informações que você receberá será possível rastrear os aparelhos que consomem mais energia e que tipo de ação deve ser tomada para a diminuição da potência utilizada.</p>
         </div>
      </div>
      <div class="col-md-7">
         <div class="about_img">
            <figure><img src="{%static 'clientes/img/IPE4.jpeg'%}" style="max-width:85%;border:3px solid black;" ></figure>
         </div>
      </div>
   </div>
</div>

<hr>

<div class="container">
   <div class="row">
      <div class="col-md-5">
         <div class="titlepage">
            <h2>Economia de capital</h2>
            <p>Com os dados fornecidos e agindo nos devidos pontos de gasto energético, haverá uma diminuição na tarifa de energia, de modo que o consumidor possa até mesmo investir em soluções de baixo custo mais eficientes.</p>
         </div>
      </div>
      <div class="col-md-7">
         <div class="about_img">
            <figure><img src="{%static 'clientes/img/IPE5.jpeg'%}" style="max-width:95%;border:3px solid black;" ></figure>
         </div>
      </div>
   </div>
</div>

<hr>

<div class="container">
   <div class="row">
      <div class="col-md-5">
         <div class="titlepage">
            <h2>Expansão de conhecimento</h2>
               <p> O consumidor, além de poder observar como as mudanças realizadas afetam no gasto energético, receberá conselhos com relação às boas práticas do uso de aparelhos em geral. Dessa forma, o conteúdo vai agregar conhecimentos bastante úteis.</p>
         </div>
      </div>
      <div class="col-md-7">
         <div class="about_img">
            <figure><img src="{%static 'clientes/img/IPE6.jpeg'%}" style="max-width:80%;border:3px solid black;" ></figure>
         </div>
      </div>
   </div>
</div>





{% endblock %}