{% load static %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a href="{%url 'home'%}">
        <img src="{% static 'img/icone.png' %}" width=40 height=auto> 
      </a>
      <a class="navbar-brand" href="{%url 'home' %}">INICIO</a>
      <a class="navbar-brand" href="{%url 'servicos' %}">SERVICOS</a>
      <a class="navbar-brand" href="{%url 'login' %}">LOGIN</a>
      <a class="navbar-brand" href="{%url 'cadastro' %}">CADASTRO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>